* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offers-container {
    max-width: 90%; /* Prevents the container from overflowing */
    height: 65vh;
    display: flex;
    justify-content: space-around;
    margin: 150px auto 150px auto;
    padding: 0 180px; /* Adjusted padding */
    background: linear-gradient(180deg, #fde1ff, #e1ffae22 60%);
}

.offers-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.offers-left-container h1 {
    color: #171717;
    font-size: 45px;
    font-weight: 600;
}

.offers-left-container p {
    font-size: 16px;
    font-weight: 600;
    color: #171717;
}

.check-now-button {
    width: 162px;
    height: 50px;
    cursor: pointer;
    border-radius: 35px;
    background-color: #ff4141;
    color: aliceblue;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.offers-right-container {
    display: flex;
    margin-top: 20px;
}