.nav-container {
    display: flex;
    justify-content: space-around;
    padding:18px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 45px;
}

.nav-logo-container p {
    color: #171717;
    font-size: 26px;
    font-weight: 600;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
}

.nav-menu-container hr {
    border: none;
    width: 80%;
    height: 3px;
    background-color: #FF4141;
    border-radius: 10px;
}

.login-button-cart-icon-container {
    display: flex;
    align-items: center;
    gap: 45px;
}

.login-button {
    width: 127px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 14px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.login-button:active {
    background-color: #f3f3f3;
}

.cart-icon {
    height: 32px;
}

.cart-count-container {
    width: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF4141;
    color: white    ;

}